*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.login-form
{
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  width: 350px;
  margin: 90px auto;
  padding: 20px;
}
.login-form h1
{
  text-align: center;
  font-size: 2em;
}
.login-form button, .login-form a
{
  margin: 15px auto;
}
.registration-form
{
  margin: 50px auto;
  width: 800px;
  padding: 20px;
}
.registration-form button
{
  display: flex;
  justify-content: center;
}
.table, .accordion, .form
{
  width: 90% !important;
  margin: 20px auto;
}