*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.login-form
{
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  width: 350px;
  margin: 90px auto;
  padding: 20px;
}
.login-form h1
{
  text-align: center;
  font-size: 2em;
}
.login-form button, .login-form a
{
  margin: 15px auto;
}